body {
    font-family: Arial;
    font-size: 16px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    flex-grow: 1;
}

.title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-top: 40px;
    font-size: 2.5rem;
    color: #535353;
}

.icon-image {
    width: 150px;
}

form div {
    margin: 10px;
}

form {
    margin-top: 50px;
}

.upload {
    border: 1px solid #cccccc;
    padding: 8px;
    margin-bottom: 5px;
}

input {
    font-size: 16px;
}

.button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #1c79c5;
    color: white;
    padding: 8px;
}

footer {
    margin-top: 130px;
    text-align: center;
    font-size: 18px;
}